* {
  margin: 0;
  padding: 0;


  font-family: 'Krona One', sans-serif;
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fefefe;
  font: 16px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #444;
}

a:hover, #main h1 a:hover {
  color: #000;
}

#main {
  position: absolute;

  top: 40px;
  left: 280px;

  width: 600px;
}

#main h1 {
  color: #fefefe;
  background-color: #16A085;
  font-size: 2.5em;
  font-weight: normal;
  padding: 10px 20px;
  margin-bottom: 15px;
}
#main h1 a {
  color: #fefefe;
}

#main p {
 margin: 0 0 50px 0;

  font-size: 1em

}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 16px;

  line-height: 22px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar h1 {
  /* color: #3498DB; */
  color: #aaa;
}
#sidebar span {
  /* color: #E74C3C; */
  color: #333;
}

#sidebar h2 {
  text-transform: uppercase;

  /* font-size: 14px; */

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}

#main h1:first-of-type {
background-color: #e74c3c;
}
#main h1:nth-of-type(2) {
background-color: #3498db;
}
#main h1:nth-of-type(3) {
background-color: #16a085;
}
#main h1:nth-of-type(4) {
background-color: #8E44AD;
}
#main h1:nth-of-type(5) {
background-color: #ee7f01;
}

@media screen and (max-width: 800px) {
  #main, #sidebar {
    position: absolute;
    display: block !important;
  }
  #sidebar {
    top: 50px;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 4em;
  }
  #main {
    top: 290px;
    left: 0;
    width: 100%;
  }
  #main h1 {
    font-size: 4em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  #main p {
    font-size: 3em;
    margin-left: 20px;
    margin-right: 20px;
  }
}
