<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <meta charset="utf-8">

    <title>Aya - Eric Dejonckheere</title>
    <link rel="stylesheet" href="style.css">

    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="nanoc <%= Nanoc::VERSION %>"> 
<link href='http://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
  <%= render 'sidebar' %>
  </body>
</html>
